customtkinter==5.2.2
keras==2.10.0
matplotlib==3.8.0
numpy==1.26.4
opencv_python==4.9.0.80
pandas==2.2.2
Pillow==10.3.0
plyer==2.1.0
scikit_learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
tensorflow==2.10.0
